.button {
  border: 0;
  border-radius: var(--bd-radius);
  background-color: var(--bg-color-primary);
  color: var(--light-color);
}

.main {
  font-size: 16px;
  padding: 10px 25px;
}

.large {
  padding: 20px 60px;
  text-transform: uppercase;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
