.button {
  border: 0;
  border-radius: var(--bd-radius);
  background-color: var(--bg-color-primary);
  color: var(--light-color);
}

.main {
  font-size: 16px;
  padding: 10px 25px;
}

.large {
  padding: 20px 60px;
  text-transform: uppercase;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-outline {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  color: var(--bg-color-primary);
  outline: 1px solid var(--bg-color-primary);
}

.ghost {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  color: var(--bg-color-primary);
}

.chevron {
  border-radius: 12px;
  color: var(--color-primary);
  font-size: 20px;
  background-color: var(--separator-color-light);
  width: 40px;
  height: 40px;
}
