.productCard {
  border-radius: 20px;
  box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.1);
  padding: 0px 0 20px 0;
  width: 320px;
  height: fit-content;
}

.head {
  position: relative;
  margin-bottom: 10px;
}

.img {
  object-fit: cover;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.price,
.icon,
.rating {
  position: absolute;
}

.price,
.rating {
  background-color: #fff;
  padding: 4px 12px;
  font-size: 18px;
  border-radius: 20px;
  top: 10px;
  left: 10px;
}

.rating {
  top: auto;
  bottom: -12px;
  box-shadow: 0 2px 16px 1px rgba(0, 0, 0, 0.3);
  font-size: 12px;
  display: flex;
  gap: 4px;
}

.icon {
  background-color: var(--bg-color-primary);
  padding: 8px;
  top: 10px;
  right: 10px;
}

.components {
  font-size: 14px;
  color: var(--color-secondary);
}

.footer {
  padding: 12px;
  position: relative;
}

.currency {
  color: var(--bg-color-primary);
}

.link {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 8px 16px;
  background-color: var(--bg-color-primary);
  position: absolute;
  top: -8px;
  right: -10px;
  font-size: 14px;
  border-radius: 20px;
}
