.productCard__info-item__list {
  list-style-type: circle;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
}

.productCard__info-item__list-item {
  font-size: 14px;
}
