.pageHead {
  border-bottom: 1px solid var(--separator-color);
  margin-bottom: 20px;
  text-align: center;
}

.productName {
  color: var(--bg-color-primary);
}

.pageContent {
  display: flex;
  justify-content: center;
}
