.pageHead {
  border-bottom: 1px solid var(--separator-color);
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.productName {
  color: var(--color-primary);
}

.productActionBtn {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--light-color);
  margin-left: auto;
}

.pageContent {
  box-sizing: border-box;
}
