.title {
  font-weight: 600;
  color: var(--color-primary);
  line-height: 120%;
  margin: 0;
}

h1.title {
  font-size: 36px;
}

h2.title {
  font-size: 28px;
}

h3.title {
  font-size: 24px;
}
